    body,td,th {
	color: #000;
}
body {
	background-color:#D8D7D6;
	margin-left: 3px;
	margin-top: 3px;
	margin-right: 3px;
	margin-bottom: 3px;
}
table {
	background-color:#ECF0F1;
	
}
